Mantamonis_bacterial_contamination_analysis.xlsx
preliminary_classification.py

bioinfo_bootcamp/acetylcholinesterase_01_bioactivity_data_raw.csv
bioinfo_bootcamp/acetylcholinesterase_02_bioactivity_data_preprocessed.csv
bioinfo_bootcamp/acetylcholinesterase_03_bioactivity_data_curated.csv
bioinfo_bootcamp/acetylcholinesterase_04_bioactivity_data_3class_pIC50.csv
bioinfo_bootcamp/acetylcholinesterase_06_bioactivity_data_3class_pIC50_pubchem_fp.csv
bioinfo_bootcamp/acetylcholinesterase_05_bioactivity_data_2class_pIC50.csv
bioinfo_bootcamp/acetylcholinesterase_07_bioactivity_data_2class_pIC50_pubchem_fp.csv
bioinfo_bootcamp/CDD_ML_Part_5_Acetylcholinesterase_Compare_Regressors.ipynb
bioinfo_bootcamp/README.md


#random files that were added for some reason:
bioinfo_bootcamp/AtomPairs2DFingerprintCount.xml
bioinfo_bootcamp/AtomPairs2DFingerprinter.xml
bioinfo_bootcamp/EStateFingerprinter.xml
bioinfo_bootcamp/ExtendedFingerprinter.xml
bioinfo_bootcamp/Fingerprinter.xml
bioinfo_bootcamp/GraphOnlyFingerprinter.xml
bioinfo_bootcamp/KlekotaRothFingerprintCount.xml
bioinfo_bootcamp/KlekotaRothFingerprinter.xml
bioinfo_bootcamp/MACCSFingerprinter.xml
bioinfo_bootcamp/PubchemFingerprinter.xml
bioinfo_bootcamp/SubstructureFingerprintCount.xml
bioinfo_bootcamp/SubstructureFingerprinter.xml

bioinfo_bootcamp/plot_*.pdf
bioinfo_bootcamp/results.zip
bioinfo_bootcamp/acetylcholinesterase.zip
bioinfo_bootcamp/fingerprints_xml.zip

bioinfo_bootcamp/Miniconda3-*.sh

bioinfo_bootcamp/molecule.smi




