bioinfo_bootcamp/acetylcholinesterase_04_bioactivity_data_3class_pIC50.csv
bioinfo_bootcamp/acetylcholinesterase_05_bioactivity_data_2class_pIC50.csv
bioinfo_bootcamp/acetylcholinesterase_06_bioactivity_data_3class_pIC50_pubchem_fp.csv
bioinfo_bootcamp/acetylcholinesterase_07_bioactivity_data_2class_pIC50_pubchem_fp.csv
bioinfo_bootcamp/CDD_ML_Part_4_Acetylcholinesterase_Regression_Random_Forest.ipynb
bioinfo_bootcamp/CDD_ML_Part_5_Acetylcholinesterase_Compare_Regressors.ipynb
bioinfo_bootcamp/README.md
